.text {
  width: 70vb;
  font-size: 300%;
  padding-inline: 2%;
  padding-block: 2%;
  border: none;
  /* border-bottom: solid 1px; */
}
.search {
  display: flex;
  align-items: center;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  border: 2px #252525 solid;
}
.button {
  height: 100px;
  width: 4em;
  font-size: xx-large;
  background-color: rgb(201, 8, 8, 0.6);
  color: #f3f7f5;
  border: none;
  font-weight: lighter;
}
.button:hover {
  transition-duration: 250ms;
  /* color: rgb(201, 8, 8); */
  background-color: rgb(201, 8, 8, 0.9);
}
.date {
  width: 17em;
  height: 96px;
  font-size: x-large;
  border: none;
  border-right: 2px solid #252525;
  border-left: 2px solid #252525;
}
